#wpdbrd_banner {
	max-width: 100%; max-height: 5em;
}

.form-table th {
	width: 300px;
}

input[type="text"] {
	transition: opacity .15s ease-in;

	&.greyedOut {
		opacity: .3;
		pointer-events: none;
	}
}

/* Switch */
.switch {
	position: relative;
	display: inline-block;
	width: 51px;
	height: 31px;
	margin-right: 1em;

	input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	input:checked + .slider {
		background-color: #2271b1;
	}

	input:checked + .slider:before {
		transform: translateX(20px);
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #a4a7aa;
		-webkit-transition: 0.15s;
		transition: 0.15s;
		border-radius: 34px;

		&:before {
			position: absolute;
			content: '';
			height: 27px;
			width: 27px;
			top: 2px;
			left: 2px;
			// bottom: 3px;
			background-color: white;
			-webkit-transition: 0.2s;
			transition: 0.2s;
			border-radius: 50%;
			box-shadow: 0px 1px 3px 2px rgba(20, 20, 20, 0.12);
		}

		&:hover {
			background: #b4b6b9;
			transition: background-color 0.1s;
		}
	}
}

table tbody {
	.desc {
		font-weight: 400;
		margin-top: unset;
		font-style: italic;
	}
	
	tr { transition: opacity .15s ease-in; }

	&.greyedOut tr:not(tr:first-child) {
		opacity: .3;
		pointer-events: none;
	}
}